html {
  background-image: url("https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  background-clip: border-box;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: auto;
}

h1 {
  margin-top: 50px;
  color: purple;
  font-weight: bold;
  font-family: fantasy;
  font-size: 60pt;
  display: flex;
  justify-content: center;
	background-color: lightsteelblue;
  border: violet;
  border-style: groove;
	opacity: 0.5;
  width: 50%
}

h1:hover {
  color: blue;
}

p {
  margin-top: 50px;
  margin-left: 20%;
  color: blue;
  font-weight: bold;
  font-family: fantasy;
  font-size: 32pt;
  background-color: lightsteelblue;
  border: violet;
  border-style: groove;
  opacity: 0.5;
  width: 60%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ul {
 margin-top: 50px;
 margin-left: 20%;
 color: blue;
 font-weight: bold;
 font-family: fantasy;
 font-size: 32pt;
 background-color: lightsteelblue;
 border: violet;
 border-style: groove;
 opacity: 0.5;
 width: 60%;
 float: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

li {
 margin-top: 50px;
 margin-left: 20%;
 color: blue;
 font-weight: bold;
 font-family: fantasy;
 font-size: 32pt;
 background-color: lightsteelblue;
 border: violet;
 border-style: groove;
 opacity: 0.5;
 width: 60%;
 float: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

li:hover {
  color: purple;
  opacity: 1;
}

p:hover {
  color: white;
}

.guide, .top {
  font-weight: bold;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20pt;
	background-color: lightsteelblue;
  border: violet;
  border-style: groove;
	opacity: 0.5;
}

a {
  color: purple;
}
.guide, .top {
  font-weight: bold;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20pt;
	background-color: lightsteelblue;
  border: violet;
  border-style: groove;
	opacity: 0.5;
}

a {
  color: purple;
}

.guide {
  border: 1rem ridge;
  position: fixed;
  right: 1%;
  top: 23%;
  text-align: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 150px;
}

a {
    padding: .2rem .2rem;
}
.guide a:hover {
  color: blue;
}

.top {
	position: absolute;
	bottom: -516%;
  right: 1%;
}

.top:hover {
  color: blue;
}
